:host {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  padding: 3rem;
  background: white;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.symbol {
  font-size: 3rem;
}
