:host {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  padding: 3rem;
  background: white;
  display: none;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: var(--shadow-3);
  border-radius: var(--radius-conditional-3);
  opacity: 0;

  &[data-is-active] {
    animation: var(--animation-slide-in-up), var(--animation-fade-in) forwards;
    display: grid;
  }
}

.symbol {
  font-size: 3rem;
}

@keyframes test {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}

/**/
/* .card:not([data-is-active]) { */
/*   display: none; */
/* } */
/**/
/* .card:not([data-is-active]) { */
/*   display: none; */
/* } */
